{% extends "./base.html" %}
{% block content %}
<div class="center">
    <div
        class="stack"
        style="width: 300px; padding-top: 12px;"
    >
        <div class="stack" style="justify-content: flex-start;">
            <h2 style="margin-left: 0px; padding-left: 0px;">Reset Password</h2>
            <p>You need to pick a new password before accessing your account.</p>

            <p class="minimal">Password requirements:</p>
            <ul>
                <li>Length of 8 or more.</li>
                <li>At least one uppercase letter.</li>
                <li>At least one lowercase letter.</li>
                <li>At least one number or symbol.</li>
            </ul>

            {% if 'mismatch' in request.args %}
            <p class="error">Passwords did not match.</p>
            {% endif %}
            {% if 'weak' in request.args %}
            <p class="error">Your password is too weak.</p>
            {% endif %}
            <form action="/api/change-password" method="POST">
                <label for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    required
                >
                <label for="password-again">Password Again</label>
                <input
                    type="password"
                    name="password-again"
                    required
                >
                <input type="hidden" name="request_token" value="{{ session.request_token }}">
                <div class="flex" style="justify-content: flex-end;">
                    <button type="submit">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>    
{% endblock %}
