<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Code Golf Club</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    <main>
        {% include "./components/header.html" %}
        <div class="content">
            <div class="stack">
                {% if session.user and (session.user.id == challenge.author_id or session.user.is_admin) %}
                <div class="row" style="justify-content: flex-end; gap: 15px;">
                    <p style="font-weight: bold;" class="no-select">Tools:</p>
                    <a href="{{ request.path + '/edit' }}" class="no-select">Edit</a>
                    <a href="{{ request.path + '/delete'}}" class="no-select">Delete</a>
                </div>
                {% endif %}
                {% include "./components/challenge.html" %}
                
                <div class="row">
                    <span class="vertical-line" style="margin-left: 23px; visibility: {{ 'hidden' if replies|length == 0 else '' }}"></span>
                    <div class="row" style="justify-content: flex-end; gap: 5px; margin-bottom: 20px; margin-top: 10px;">
                        {% if session.user %}
                            <a href="{{ request.path + '/com' }}" class="no-select">Post Comment</a>
                            <a href="#" class="no-select">Post Submission</a>
                        {% endif %}
                    </div>
                </div>

                {% include "./components/challenge-replies.html" %}
            </div>
        </div>
    </main>
</body>
</html>
