<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Code Golf Club</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    <main>
        {% include "./components/header.html" %}
        <div class="content">
            {% if at_home %}
                <p>
                    <b>Welcome to the JavaScript Code Golf Club!</b><br>
                    Here you can post, comment and submit everything that's insane and JavaScript ;)<br>
                    Vote for your favorite stuff with an account!
                </p>
                <p>
                    <b>House Rules:</b><br>
                    1. Absolute no <a style="padding: 0px;" href="https://jsfuck.com/">JSFuck</a><br>
                    2. We don't know what's ESLint<br>
                    3. TypeScript is bloat<br>
                    4. Yes you can use Python, but we don't<br>
                    5. Rust is not viable, no Array prototypes<br>
                </p>
            {% endif %}
            <div class="row" style="justify-content: space-between; margin-bottom: 10px;">
                <p><i>Challenges from {{ 'all categories' if not category_name else category_name }}</i></p>
                {% include "./components/search-box.html" %}
            </div>
            <div class="stack">
                {% for challenge in challenges %}
                    {% with spacer=20 %}
                        {% include "./components/challenge.html" %}
                    {% endwith %}
                {% endfor %}
                {% if challenges | length == 0 %}
                    <img src="/public/emptiness.gif">
                    <p>(You went too far back)</p>
                {% endif %}

                {% include "./components/page-selection.html" %}
            </div>
        </div>
    </main>
</body>
</html>
