<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Code Golf Club</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    <main>
        {% include "./components/header.html" %}
        <div class="content">
            <div
                class="stack"
                style="width: 100%; padding-top: 12px; gap: 8px;"
            >
                {% if session.user and username == session.user.username %}
                <div class="row" style="justify-content: flex-end;">
                    <a href="/me/edit">Edit Profile</a>
                </div>
                {% endif %}
                {% if profile.banner_asset %}
                <img class="profile-banner" src="/a/{{ profile.banner_asset.id }}">
                {% else %}
                <span class="profile-banner profile-banner-placeholder"></span>
                {% endif %}
                <div class="row" style="padding: 8px;">
                    {% if profile.image_asset %}
                    <img width="80px" height="80px" class="profile-image" src="/a/{{ profile.image_asset.id }}"></img>
                    {% else %}
                    <p class="profile-text">{{ username[0].upper() + username[1] }}</p>
                    {% endif %}
                    <h2 style="margin-left: 20px;">{{ username }}</h2>
                </div>
                <pre class="profile-description">{{ profile.description if profile.description != "" else "No description."}}</pre>
                
                <span class="divider" style="margin-top: 30px;"></span>
                <h3 style="text-align: center;">Content by {{ username }}</h3>
                {% include "./components/full-content.html" %}
            </div>
        </div>
    </main>
</body>
</html>
