<div class="stack">
    <div class="row" style="padding-bottom: 18px;">
        <ul class="stack comment-tree" style="padding-right: 50px; padding-left: 23px; gap: 12px;">
            {% for reply in replies %}
                <li class="row">
                    <div class="comment-trunk">
                        <span class="vertical-line"></span>
                    </div>
                    <div class="stack comment-branch" style="justify-content: center; width: 40px;">
                        <span class="horizontal-line"></span>
                    </div>
                    {% if reply.type == "comment" %}
                        {% with comment=reply %}
                            {% include "./components/comment.html" %}
                        {% endwith %}
                    {% elif reply.type == "submission" %}
                        {% with submission=reply %}
                            {% include "./components/submission.html" %}
                        {% endwith %}
                    {% else %}
                        <p>Unsupported reply type.</p>
                    {% endif %}
                </li>
            {% endfor %}
         </ul>
    </div>
    
    {% if replies | length == 0 %}
        <p style="text-align: center;">No comments or submissions yet.</p>
    {% endif %}
</div>
