<div class="header">
    <div class="stack">
        <h1>JavaScript Code Golf Club</h1>
        <div class="marquee">
            <p>Most obscene, JavaScript coding challenges. On a forum!</p>
            <p>Most obscene, JavaScript coding challenges. On a forum!</p>
            <p>Most obscene, JavaScript coding challenges. On a forum!</p>
            <p>Most obscene, JavaScript coding challenges. On a forum!</p>
        </div>
        <nav style="height: 100%;">
            <a href="/">
                Home
            </a>

            <div
                class="flex"
                style="justify-content: flex-end; width: 100%; align-items: center;"
            >
                {% if session.user %}
                <a href="/challenge-new">
                    New Challenge
                </a>
                <div class="user-box">
                    {% if session.user and session.user.profile.image_asset %}
                    <img width="25px" height="25px" class="profile-image" src="/a/{{ session.user.profile.image_asset.id }}"></img>
                    {% endif %}
                    <a href="/me">
                        {{ session.user.username }}
                    </a>
                </div>
                <a href="/logout">
                    Logout
                </a>
                {% endif %}
                {% if not session.user %}
                <a href="/login">
                    Login
                </a>
                <a href="/register">
                    Register
                </a>
                {% endif %}
            </div>
        </nav>
        <nav>
            {% for category in categories %}
            <a href="/c/{{ category.id }}" style="font-size: 12px">
                {{ category.name }}
            </a>
            {% endfor %}
        </nav>
    </div>
</div>
