<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Code Golf Club</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    <main>
        {% include "./components/header.html" %}
        <div class="content">
            <p>Create a new post:</p>
            <form action="/api/post/challenge" method="POST" enctype="multipart/form-data">
                <label for="category">Challenge Category</label>
                <select name="category" style="width: 300px; margin-bottom: 10px;">
                    {% for category in get_categories() %}
                        <option value="{{ category.id }}">
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>

                <label for="accepts_submissions">Accept Submissions *</label>
                <select name="accepts_submissions" style="width: 300px;" value="1">
                    <option value="1">
                        Yes
                    </option>
                    <option value="0">
                        No
                    </option>
                </select>
                <i style="margin-bottom: 10px">* If this is not a "challenge" and more like a post, set to "no". Please also use the general category for this.</i>

                <label for="title">Challenge Title</label>
                <input
                    type="text"
                    name="title"
                    style="width: 400px; margin-bottom: 10px"
                    placeholder="Attention Grabbing Title"
                    required
                >

                <label for="body">Challenge Description</label>
                <textarea
                    name="body"
                    placeholder="No description"
                    style="padding: 8px; margin-bottom: 10px;"
                ></textarea>

                <input type="hidden" name="request_token" value="{{ session.request_token }}">
                <div class="flex" style="justify-content: flex-end;">
                    <button type="submit">Post</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
